/* /////////////////////////// */
/* GENERAL */
/* /////////////////////////// */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #0055a5;
  /* height: 100vh; */
  /* background: url('/images/spongebob\ sky\ flowers\ wallpaper.jpeg'); */
  /* background: url('/images/jelly-fish-jam-blue.jpeg'); */
  background-size: cover;
}

body > div {
  margin-top: 10rem;
  text-align: center;
}
#logo {
  width: clamp(5rem, 50vw, 50rem);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

h1,
h2,
#highscore {
  color: #f2f2f2;
}
h1,
#highscore {
  margin-bottom: 3rem;
  font-size: 3rem;
  position: absolute;
  left: 30%;
}

#highscore {
  left: 60%;
}
h2 {
  margin-bottom: 6rem;
  font-size: 2.5rem;
}
/* /////////////////////////// */
/* GRID */
/* /////////////////////////// */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  width: 50vw;
  height: 50vw;
  max-width: 40rem;
  max-height: 40rem;
  margin: auto;
  background-color: #2b2b2b;
  outline: 5rem solid rgb(222, 146, 5);
}

.square {
  position: relative;
  background-color: #4a18e0;
  cursor: pointer;

  /* outline: solid 2px rgb(201, 64, 190); */
}
.square::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
}
/* /////////////////////////// */
/* Buttons */
/* /////////////////////////// */
.btn {
  margin-top: 8rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.flash {
  background-color: #f2f2f2;
}

.loser {
  animation: loser 0.5s infinite;
}

@keyframes loser {
  0%,
  100% {
    background-color: red;
  }
  50% {
    background-color: #f2f2f2;
  }
}
.winner {
  animation: winner ease-out 1s forwards;
}

@keyframes winner {
  0% {
    background-color: #f2f2f2;
  }
  100% {
    background-color: rgb(17, 188, 17);
  }
}
@media (min-width: 768px) {
  body > div {
    margin-top: 15rem;
  }
  #logo {
    top: -7%;
  }
}
@media (min-width: 1000px) {
  body > div {
    margin-top: 20rem;
  }
  #logo {
    top: -10%;
  }
}
